<ion-header>
  <ion-toolbar>
    <ion-title>prueba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>
        Carta a Francia
      </ion-card-title>
      <ion-card-subtitle>
        Una carta sin sentido ni dicción
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam voluptate architecto totam saepe eveniet esse omnis laborum enim libero ut in mollitia animi exercitationem cumque, non, placeat adipisci ea vitae.
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item>Pulita</ion-item>
    <ion-item>Te amo</ion-item>
    <ion-item>NOLMQTA</ion-item>
  </ion-list>
  <ion-button expand="block" (click)="llamar()">Boton 1</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-title>Te amo Pulita</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../assets/img/img_11.jpg"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-button href="/tab2">a tab2</ion-button>
</ion-content>
